<div class="home-container">
  <app-big-card
  cardPhoto="https://image.api.playstation.com/vulcan/ap/rnd/202202/2816/K6mmm89oNII1iI1aqaClO0wh.png?w=440&thumb=false "
  gameTitle="Buy Now"
  gameVersion="full game"
  gameCompatible=" ps3 | ps4"
  gameValue="59.99"
  gameLabel="cross over"
  ></app-big-card>

  <app-big-card
  cardPhoto="https://image.api.playstation.com/pr/bam-art/176/978/c5e7e0d7-0e08-45d8-a273-dbfee9b1e259.jpg?w=440&thumb=false"
  gameTitle="Free"
  gameVersion="free trial"
  gameCompatible="ps Vita | Ps5"
  gameValue="00.00"
  gameLabel="exclusive"
    >
  </app-big-card>

  <app-big-card
  cardPhoto="https://image.api.playstation.com/pr/bam-art/199/969/4cad94fc-eb70-49ef-bb3c-6235514a38d9.jpg?w=440&thumb=false"
  gameTitle="Buy Now"
  gameVersion="full game"
  gameCompatible="ps5"
  gameValue="112.99"
  gameLabel="exclusive"
  ></app-big-card>

  <app-big-card
  cardPhoto="https://image.api.playstation.com/pr/bam-art/174/047/8a28b094-4d8b-4854-a841-e54d59c6fdb0.jpg?w=440&thumb=false"
  gameTitle="Buy Now"
  gameVersion="full game"
  gameCompatible="ps4 | ps5"
  gameValue="89.99"
  gameLabel="exclusive"
  ></app-big-card>

  <app-big-card
  cardPhoto="https://image.api.playstation.com/pr/bam-art/196/165/48cc2d68-449b-461c-8583-6fbd71ea0c47.jpg?w=440&thumb=false"
  gameTitle="Buy Now"
  gameVersion="full game"
  gameCompatible="ps5"
  gameValue="00.00"
  gameLabel="Season pass"
  ></app-big-card>
  <app-big-card
  cardPhoto="https://image.api.playstation.com/gs2-sec/appkgo/prod/CUSA08519_00/12/i_3da1cf7c41dc7652f9b639e1680d96436773658668c7dc3930c441291095713b/i/icon0.png?w=440&thumb=false"
  gameTitle="Buy Now"
  gameVersion="full game"
  gameCompatible="ps5"
  gameValue="199.00"
  gameLabel="exclusive"
  ></app-big-card>
  <app-big-card
  cardPhoto="https://image.api.playstation.com/vulcan/ap/rnd/202412/2017/2bb1f425090006f8c5c3c3cab094809ccce8fa6f2531a8d6.png?w=440&thumb=false"
  gameTitle="free"
  gameVersion="full game"
  gameCompatible="ps4 | ps5"
  gameValue="00.00"
  gameLabel="Cross over"
  ></app-big-card>
  <app-big-card
  cardPhoto="https://image.api.playstation.com/vulcan/ap/rnd/202407/0401/670c294ded3baf4fa11068db2ec6758c63f7daeb266a35a1.png?w=440&thumb=false"
  gameTitle="Buy now"
  gameVersion="Full game"
  gameCompatible="ps5"
  gameValue="00.00"
  gameLabel="Season pass"
  ></app-big-card>
</div>


