<div class="nav-bar-container">
  <div class="item item-01 logo">
    <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/PlayStation_Store.png" alt=""></a>
  </div>

  <ul class="nav-bar-listItens">

    <li class="item item-02 "><a href="https://www.instagram.com/c.daniel_hms/" target="_blank" class="link-02">instagram</a></li>

    <li class="item item-03 "><a href="https://www.linkedin.com/in/carloos-daniel-48bb0b325/" target="_blank" class="link-03">linkedin</a></li>

    <li class="item item-04 "><a href="https://github.com/danHamash" target="_blank" class="link-04">gitHub</a></li>
  </ul>
</div>
